@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.shop-section {
    padding: 50px;
    text-align: center;
}

.shop-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.product-list {
    display: flex;
    justify-content: space-around;
}

.product-item {
    width: 30%;
    text-align: center;
}

.product-item img {
    width: 100%;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.product-item p {
    color: #666;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
